.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  z-index: 0;
  background-color: #2f80ed;
  right: 0;
  top: 64px;
}



/*Перенести в необходимую папку по БЭМ
1 Реализуйте анимацию: поворот с равномерной скоростью по часовой
стрелке. Фигура поворачивается на 360 ̊ за 20 секунд и двигается
бесконечно. Создайте отдельный БЭМ-блок rotation в файловой
структуре. Используйте микс, чтобы запустить анимацию там, где
нужно.
*/
@keyframes rotation {
    from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.header__square-pic {
  animation: rotation 20s linear infinite;
}

